# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\test\NLCN\COVID-19_Tracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
